# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!*.tfvars.example

# Lambda
lambda/package/
lambda/layer/
lambda/lambda_function.zip
lambda/psycopg2_layer.zip
lambda/.terraform/

# RDS
rds/.terraform/
rds/proxy_layer/
rds/lambda_proxy.zip
rds/proxy_psycopg2_layer.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
