# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!*.tfvars.example

# Lambda
lambda/package/
lambda/lambda_function.zip
lambda/.terraform/

# RDS
rds/.terraform/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
